<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<http pattern="/login**" security="none"/>-->

    <http use-expressions="true">
        <intercept-url pattern="/auditoriums**" access="hasAuthority('REGISTERED_USER')"/>
        <!--<form-login />-->
        <!--<logout/>-->
        <form-login login-page="/login"
                    default-target-url="/users"
                    authentication-failure-url="/login?error=true"
                    login-processing-url="/perform_login"
        />
        <logout logout-url="/logout"
                logout-success-url="/login?logout=true"

        />
        <csrf disabled="false"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="1" password="1" authorities="REGISTERED_USER "/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>